<h1>Create a new item</h1>
<form class="task-form" action="/" method="post">
 <input type="text" name="task[title]" placeholder="Enter a taskname"><br>
 <textarea name="task[content]" rows="8" cols="80"></textarea>
 <input type="submit" value="Post">
</form>